{% extends 'base.html' %}

  {% block content %}
    <img id='unsplash' src="../static/img/hannah-wright-ZzWsHbu2y80-unsplash.jpg" alt="language">

    <div class="support">
      <ul class="list-group">
        <li class="list-group-item active"> <h1> Languages supported by SpeakIt </h1> </li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
        <li class="list-group-item"><h4>Vestibulum at eros - placeholder</h4></li>
      </ul>
    </div>

  {% endblock %}
